<mat-card-header>
  <mat-card-title>Add New Product</mat-card-title>
</mat-card-header>
<mat-card>
  <mat-card-content>
    <form [formGroup]="productForm">
      <div class="form-grid">
        <mat-form-field appearance="outline">
          <mat-label>Product Name</mat-label>
          <input
            #productNameInput
            matInput
            formControlName="productName"
            (keydown.enter)="focusProductCode($event)"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Product Code</mat-label>
          <input
            #productCodeInput
            matInput
            formControlName="productCode"
            (keydown.enter)="focusPrice()"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Price</mat-label>
          <input
            #priceInput
            matInput
            type="number"
            formControlName="price"
            (keydown.enter)="focusCategory($event)"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Category</mat-label>

          <mat-select
            #categoryInput
            formControlName="category"
            (selectionChange)="submitFromCategory()"
          >
            @for (category of categories(); track category) {
              <mat-option [value]="category">
                {{ category }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <button
          type="button"
          [matButton]="productForm.valid ? 'filled' : 'outlined'"
          (click)="onAction()"
        >
          <mat-icon>
            {{ productForm.valid ? 'add' : 'delete' }}
          </mat-icon>

          {{ productForm.valid ? 'Add' : 'Clear' }}
        </button>
      </div>
    </form>
    @if (enableNewCategory()) {
      <button type="button" class="link-button" (click)="enableNewCategory.set(false)">
        Category not listed ?
      </button>
    } @else {
      <div class="new-category">
        <mat-form-field appearance="outline">
          <mat-label>New Category</mat-label>
          <input matInput [ngModel]="newCategory()" (ngModelChange)="newCategory.set($event)" />
        </mat-form-field>
        <button matButton="outlined" (click)="addNewCategory()">Add Category</button>
      </div>
    }
  </mat-card-content>
</mat-card>

<app-product-catalog></app-product-catalog>
