:host {
  display: block;
  height: 100%;
}

.mat-mdc-nav-list {
  padding-top: 0;
}

.active-link {
  background-color: rgba(38, 59, 182, 0.12);
  border-right: 4px solid var(--mat-sys-primary);
  border-radius: 0;
}

a[mat-list-item] {
  margin: 5px;
  border-radius: 8px;
  transition: all 150ms ease-in-out;
}

a[mat-list-item]:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

mat-icon {
  margin-right: 8px;
}
