<div class="order-header">
  <form [formGroup]="customerForm">
    <mat-form-field appearance="outline">
      <mat-label>Customer Phone No. </mat-label>
      <input
        #customerId
        matInput
        type="text"
        minlength="10"
        maxlength="10"
        formControlName="customerId"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Payment Type</mat-label>

      <mat-select formControlName="paymentType">
        @for (payment of paymentTypes; track payment) {
          <mat-option [value]="payment">
            {{ payment }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div class="order-header">
  <span>Order Summary</span>
  <span> Total : ₹{{ orderSummary().totalAmount }} </span>
</div>

<div class="order-action">
  <button matButton="elevated" (click)="clearOrder()">Clear</button>
  <button matButton="filled" (click)="order()">Print</button>
</div>

<table mat-table [dataSource]="orderSummary().items" class="order-table">
  <!-- Product -->
  <ng-container matColumnDef="product">
    <th mat-header-cell *matHeaderCellDef>Product</th>
    <td mat-cell *matCellDef="let item" class="prdName-field">
      {{ item.productName }}
    </td>
  </ng-container>

  <!-- Unit Price -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let item">
      @if (allowPriceEdit) {
        <mat-form-field appearance="outline" class="price-field">
          <input matInput type="number" min="0" [value]="item.unitPrice" />
        </mat-form-field>
      } @else {
        {{ item.unitPrice }}
      }
    </td>
  </ng-container>

  <!-- Quantity -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Qty</th>
    <td mat-cell *matCellDef="let item">
      <mat-form-field appearance="outline" class="qty-field">
        <input
          matInput
          type="number"
          min="1"
          [value]="item.quantity"
          (change)="updateQuantity(item.productCode, $event)"
        />
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Total -->
  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef>Total</th>
    <td mat-cell *matCellDef="let item">₹{{ item.totalPrice }}</td>
  </ng-container>

  <!-- Delete -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let item">
      <button matIconButton="standard" color="warn" (click)="removeItem(item.productCode)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
